#whoMe {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background-color: rgb(212, 23, 91);
    margin: 0%;

}

#whoMeTitle {
    width: 25%;
    align-self: center;
}

#whoMeText {
    align-items: center;
    width: 75%;
    align-self: center;
}

#gallery {
    background-color: aliceblue;
    height: 50vh;
}

#contactAndAddress {
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

.popup-content {
    padding: 30px;
    color: #e8e6e6;
    background-color: rgb(212, 23, 91);
    border-radius: 5%;
    border: 1px solid rgba(0, 0, 0, .05);
}