nav {
    height: 150x;
    width: 150px;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    /* margin-top: -180px; */
    right: 0;
    background-color: rgb(152, 152, 152);
    overflow-x: hidden;
    padding-top: 20px;

}

nav>ul>li {
    list-style-type: none;

}

nav>ul>li>a {
    color: #fff;
}
.title{
    color: rgb(87, 87, 86);
    margin-bottom: 0%;
}